{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="content container">
    <h1>Drafts</h1>
    <table>
      <thead>
      <tr>
        <th>Draft Title</th>
        <th style="text-align:right;">Words</th>
        <th><a href="/blog/new" class="btn btn-tiny">New</a></th>
      </tr>
      </thead>
      <tbody>
      {% for blogPost in drafts %}
        <tr>
          <td>
            <a href="/blog/{{ blogPost.Slug }}">
              {{ blogPost.Title }}
            </a>
          </td>
          <td style="width:2rem;text-align:right;">
            {{ blogPost.Content | words }}
          </td>
          <td style="width:2rem;">
            <a href="/blog/{{ blogPost.Slug }}/edit" class="btn btn-gray btn-tiny">Edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
