{% extends 'layouts/base.html' %}

{% block content %}
  <div class="content container">
    <h1>Drafts <code>{{ drafts | length }}</code></h1>

    <table>
      <thead>
      <tr>
        <th>Title</th>
        <th style="text-align:right;">Words</th>
{#        <th style="text-align:right;">Stg</th>#}
        <th><a href="/blog/new" class="btn btn--xs">New</a></th>
      </tr>
      </thead>
      <tbody>
      {% for blogPost in drafts %}
        <tr>
          <td>
            <a href="/blog/{{ blogPost.Slug }}">
              {{ blogPost.Title }}
            </a>
          </td>
          <td style="width:2rem;text-align:right;">
            {{ blogPost.Content | words }}
          </td>
{#          <td style="width:2rem;text-align:right;">#}
{#            {{ blogPost.Stage }}#}
{#          </td>#}
          <td style="width:2rem;">
            <a href="/blog/edit/{{ blogPost.ID }}" class="btn btn--gray btn--xs">Edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <h2>Unlisted <code>{{ unlisted | length }}</code></h2>

    {% if unlisted %}
      <table>
        <thead>
        <tr>
          <th>Title</th>
          <th style="text-align:right;">Views</th>
          <th style="text-align:right;">Votes</th>
        </tr>
        </thead>
        <tbody>
        {% for blogPost in unlisted %}
          <tr>
            <td>
              <a href="/blog/{{ blogPost.Slug }}">
                {{ blogPost.Title }}
              </a>
            </td>
            <td style="width:2rem;text-align:right;">
              {{ blogPost.Views }}
            </td>
            <td style="width:2rem;text-align:right;">
              {{ blogPost.VotesTotal }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Not currently any unlisted posts</p>
    {% endif %}
  </div>
{% endblock %}
