{% extends '../../layouts/base.html' %}

{% block extraStyles %}
  <link rel="stylesheet" href="{{ staticUrl }}/build/editor.css"/>
  <style>
    .hide {
      display: none;
    }

    #editor-app textarea {
      font-family: monospace;
      font-size: 0.8rem;
    }

    #editor-app h1 {
      font-size: 1.5rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="content container" id="editor-app">
    <h1>
      {{ blogPost | yesno:'Edit,Create' }}
      Post {% if blogPost and blogPost.Published %}(Published){% else %}(Draft){% endif %}
    </h1>
    <form action="/forms/blog/upsert" method="post" id="edit-form">
      {{ csrfField | safe }}
      {% include '../../partials/form-input.html' with type='hidden' name='id' value=blogPost.ID required=true %}
      {% include '../../partials/form-input.html' with label='Title' type='text' name='title' value=blogPost.Title placeholder='My Blog Post' required=true autofocus=true %}
      <details>
        <summary>Other Fields</summary>
        {% include '../../partials/form-input.html' with label='Slug' type=blogPost.Published|yesno:"hidden,text" name='slug' value=blogPost.Slug placeholder='my-blog-post' %}
        {% include '../../partials/form-input.html' with label='Image' type='url' name='image' value=blogPost.Image placeholder='https://assets.schier.dev/images/insomnia-growth.png' %}
        {% include '../../partials/form-input.html' with label='Tags' type='text' name='tags' value=blogPost.Tags placeholder='Tag1, Tag2' %}
        {% include '../../partials/form-input.html' with label='Stage' type=blogPost.Published|yesno:"hidden,number" name='stage' value=blogPost.Stage placeholder='0' %}
      </details>

      <div class="form-row">
        <div style="display:flex">
          <label for="i-content">Content</label>
          <a
                  href="#"
                  v-on:click="toggleExpand"
                  style="margin-left:auto;font-size:0.8em;"
          >
            Full Screen
          </a>
        </div>
        <textarea name="content" id="i-content" rows="20" @input="onContentChange">{{ blogPost.Content }}</textarea>
      </div>

      <!-- Blog Post Editor -->
      <div
              class="blog-post-editor"
              v-bind:class="{ hide: hideContentEditor }"
              v-cloak
      >
        <div class="blog-post-editor__edit">
          <div style="display:flex;align-items:center;">
            <h1 class="text-xl">{{ blogPost.Title | default:"New Post" }}</h1>
            <button
                    class="btn btn-faint btn-small"
                    type="button"
                    v-on:click="toggleExpand"
            >
              &times;
            </button>
          </div>
          <div id="editor">Editor here...</div>
        </div>
        <div class="blog-post-editor__preview">
          <!-- Will be filled by script -->
        </div>
      </div>
      <!-- / Blog Post Editor -->

      <div style="display:flex">
        <button class="btn">
          {% if blogPost %}Update{% else %}Create{% endif %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block extraScripts %}
  <script src="{{ staticUrl }}/build/editor.js"></script>
  <script>
    new schier.Vue({
      // Set delimiter so it doesn't conflict with what's in <textarea>
      delimiters: ['{[(', ')]}'],

      // Render Vue app
      el: '#editor-app',
      data: {
        previewCount: 0,
        hideContentEditor: true,
        cm: null
      },
      methods: {
        onContentChange: function (e) {
          // Already contains a <!--more-->
          if (e.target.value.includes('<!--more-->')) {
            e.target.setCustomValidity('');
            return;
          }

          // Only one paragraph, so doesn't need one
          if (!e.target.value.includes('\n\n')) {
            e.target.setCustomValidity('');
            return;
          }

          const validity = 'Missing <!--more--> tag';
          e.target.setCustomValidity(validity);
        },
        toggleExpand: function (e) {
          e.preventDefault();

          this.hideContentEditor = !this.hideContentEditor;

          let debounceTimeout = 0;
          const update = (debounceMillis = 0) => {
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(async () => {
              const p = document.querySelector('.blog-post-editor__preview');
              if (!p.hasChildNodes()) {
                for (let i = 0; i < 2; i++) {
                  const f = document.createElement('iframe');
                  f.id = `preview-frame-${i}`;
                  f.style.display = 'none';
                  p.appendChild(f);
                }
              }

              // Swap between two i-frames to prevent loading flicker
              const oldPreviewEl = document.querySelector('#preview-frame-' + (this.previewCount % 2));
              const newPreviewEl = document.querySelector('#preview-frame-' + ((this.previewCount + 1) % 2));
              this.previewCount++;

              // If the iFrame already had content, we can just fetch the partial and replace it. This
              // prevents it from having to re-fetch the scripts and styles and stuff.
              const partial = newPreviewEl.contentDocument.querySelector('.blog-post-container') ? 'true' : 'false';

              // Fetch the preview from server
              const formData = new FormData();
              formData.append('partial', partial);

              for (const el of document.querySelectorAll(
                      '#edit-form input, #edit-form textarea'
              )) {
                if (!el.hasAttribute('name')) {
                  continue;
                }

                formData.append(el.getAttribute('name'), el.value);
              }

              // Send the AJAX request to fetch the render HTML
              const csrfTokenHeaderName = document.body.getAttribute('data-csrf-token-header');
              const csrfToken = document.body.getAttribute('data-csrf-token');
              const resp = await fetch('/blog/render', {
                method: 'POST',
                body: formData,
                headers: { [csrfTokenHeaderName]: csrfToken }
              });
              const previewHtml = await resp.text();

              const oldScrollTop =
                      oldPreviewEl.contentDocument.scrollingElement.scrollTop;

              if (partial === 'true') {
                // Basic swap of blog post inside already-loaded page
                newPreviewEl.contentDocument.querySelector('.blog-post-container').innerHTML = previewHtml;
                oldPreviewEl.style.display = 'none';
                newPreviewEl.style.display = 'block';
                newPreviewEl.contentDocument.scrollingElement.scrollTop = oldScrollTop;
              } else {
                // Replace entire document
                newPreviewEl.addEventListener('load', () => {
                  oldPreviewEl.style.display = 'none';
                  newPreviewEl.style.display = 'block';
                  newPreviewEl.contentDocument.scrollingElement.scrollTop = oldScrollTop;
                });
                newPreviewEl.contentWindow.document.open();
                newPreviewEl.contentWindow.document.write(previewHtml);
                newPreviewEl.contentWindow.document.close();
              }
            }, debounceMillis);
          };

          setTimeout(() => {
            if (this.hideContentEditor) {
              return;
            }

            if (this.cm) {
              this.cm.refresh();
            } else {
              const contentEl = document.querySelector('textarea[name=content]');
              this.cm = schier.setupEditor(contentEl, document.querySelector('#editor'));
              this.cm.on('change', () => update(500));

              const upImg = async (cm, e) => {
                const { url, name } = await upload(e.dataTransfer || e.clipboardData);
                const doc = this.cm.getDoc();
                const cur = doc.getCursor();
                doc.replaceRange(`\n${mdImage(url, name)}\n`, cur);
              };

              this.cm.on('paste', upImg);
              this.cm.on('drop', upImg);
              this.cm.focus();
            }

            update(0);
          });
        }
      }
    });

    const contentEl = document.querySelector('textarea[name=content]');
    contentEl.addEventListener('paste', async e => {
      const { url, name } = await upload(e.clipboardData);
      const img = mdImage(url, name);

      if (contentEl.selectionStart) {
        const startPos = contentEl.selectionStart;
        const endPos = contentEl.selectionEnd;
        const before = contentEl.value.substring(0, startPos);
        const after = contentEl.value.substring(endPos, contentEl.value.length);

        //  Update value
        contentEl.value = before + img + after;

        // Not sure why this can't be done right away
        setTimeout(() => contentEl.setSelectionRange(startPos, startPos + img.length));
      } else {
        contentEl.value += img;
      }
    });

    const imageEl = document.querySelector('input[name=image]');
    imageEl.addEventListener('paste', async e => {
      const { url } = await upload(e.clipboardData);
      imageEl.value = url;
    });

    function mdImage(url, name) {
      return `![${name}](${url})`;
    }

    function upload(data) {
      return new Promise(resolve => {
        for (const item of data.items) {
          if (item.type.indexOf('image/') !== 0) {
            // Skip non-images
            continue;
          }

          const csrfTokenHeaderName = document.body.getAttribute('data-csrf-token-header');
          const csrfToken = document.body.getAttribute('data-csrf-token');
          const file = item.getAsFile();
          const reader = new FileReader();

          reader.onload = async e => {
            const body = new FormData();
            const headers = { [csrfTokenHeaderName]: csrfToken };
            body.append('file', file);

            const resp = await fetch('/api/blog/assets', { method: 'PUT', body, headers });
            const { url } = await resp.json();
            resolve({ url, name: file.name });
          };
          reader.readAsArrayBuffer(file);
        }
      });
    }
  </script>
{% endblock %}
