{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="container">
    <div class="content">
      <h1>
        {% if tag %}Posts in <span class="tag">{{ tag }}</span>{% else %}Welcome to the Blog!{% endif %}
      </h1>
      {% if loggedIn %}<a href="/blog/new">New Post</a>{% endif %}
      {% if not tag %}
        <p>
          This is where I write about life, programming, and other interests.
        </p>
        <p>
          You can view the most recent posts below, or <a href="/blog/tags">Browse Tags</a>.
        </p>
      {% endif %}
    </div>
    <hr>
    <ul>
      {% if loggedIn or post.Published %}
        {% for blogPost in blogPostDrafts %}
          <li class="content blog-post-preview">
            <h2>
              <a href="/blog/{{ blogPost.Slug }}">
                📝 {{ blogPost.Title }}
              </a>
              {% include '../../partials/blog_post_meta.html' %}
            </h2>
            <div>
              {{ blogPost.Content | summary }}
            </div>
            <div class="blog-post-continue">
              {% include '../../partials/blog_post_tag.html' with tags=blogPost.Tags %}
              <a href="/blog/{{ blogPost.Slug }}">
                Continue Reading &raquo;
              </a>
            </div>
          </li>
        {% endfor %}
      {% endif %}
      {% for blogPost in blogPosts %}
        <li class="content blog-post-preview">
          <h2>
            <a href="/blog/{{ blogPost.Slug }}">
              {{ blogPost.Title }}
            </a>
            {% include '../../partials/blog_post_meta.html' %}
          </h2>
          <div>
            {{ blogPost.Content | summary }}
          </div>
          <div class="blog-post-continue">
            {% include '../../partials/blog_post_tag.html' with tags=blogPost.Tags %}
            <a href="/blog/{{ blogPost.Slug }}">
              Continue Reading &raquo;
            </a>
          </div>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      <div class="pagination-left">
        {% if blogPagePrev != blogPage %}
          <a href="/blog/{{ blogPagePrev }}" class="left">Previous</a>
        {% endif %}
      </div>

      <div class="pagination-center">
        Page {{ blogPageFriendly }}
      </div>

      <div class="pagination-right">
        {% if blogPageNext != blogPage %}
          <a href="/blog/{{ blogPageNext }}">Next</a>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
