{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="container content">
    <h1>Blog Post Tags</h1>
    <p class="all-tags">
      {% for tag in tags %}
        <a href="/blog/tags/{{ tag.Name }}" class="tag">
          {{ tag.Name }} ({{ tag.Count }})
        </a>
      {% endfor %}
      {% if loggedIn %}
        <a href="/blog/tags/-" class="tag">Untagged</a>
      {% endif %}
    </p>
    <p>
      <small>
        <a href="/blog">&laquo; All Blog Posts</a>
      </small>
    </p>
  </div>
{% endblock %}
