<div class="meta {{ class }}">
  <time datetime{{ blogPost.DateUpdated | default:blogPost.Date }} title="{{ blogPost.DateUpdated | default:blogPost.Date }}">
    {{ blogPost.DateUpdated | default:blogPost.Date | isoformat }}
  </time>
  <span title="{{ blogPost.Content | words }} words">
    &bull; {{ blogPost.Content | words | readtime }} min read
  </span>
  {% if showWordCount %}
    &bull; {{ blogPost.Content | words }} words
  {% endif %}
  {% if blogPost.VotesTotal > 0 %}
    <span title="{{ blogPost.VotesUsers }} readers voted">
      &bull; {{ blogPost.VotesTotal }} votes
      {% if hot and blogPost.Views > 100 and blogPost.VotesUsers > 9 and blogPost.Date | isodatenewerdays:7 %}
        <span style="opacity:0.5">🔥</span>
      {% endif %}
    </span>
  {% endif %}
  {% if loggedIn and blogPost.Published %}
    <span {% if loggedIn %}title="{{ blogPost.Score }} score"{% endif %}>
      &bull; {{ blogPost.Views }} views
    </span>
  {% endif %}
  {% if not blogPost.Published %}
    &bull; Draft
  {% endif %}
</div>
