<div class="meta {{ class }}">
  <time datetime{{ blogPost.Date }} title="{{ blogPost.Date }}">
    {{ blogPost.Date | isoformat }}
  </time>
  <span title="{{ blogPost.Content | words }} words">
    &bull; {{ blogPost.Content | words | readtime }} min read
  </span>
  {% if showWordCount %}
    &bull; {{ blogPost.Content | words }} words
  {% endif %}
  {% if loggedIn and blogPost.Published %}
    &bull; {{ blogPost.Views }} views
  {% endif %}
  {% if not blogPost.Published %}
    &bull; Draft
  {% endif %}
</div>
