<article class="content blog-post">
  <header>
    <h1>{{ blogPost.Title }}</h1>
    {% include './blog_post_meta.html' %}
  </header>

  {% if loggedIn %}
    <div>
      <a href="/blog/{{ blogPost.Slug }}/edit">Edit</a> |
      {% include './publish_link.html' %} |
      {% include './delete_link.html' %}
    </div>
  {% endif %}

  {{ blogPost.Content | markdown }}

  {% include './blog_post_tag.html' with tags=blogPost.Tags %}

  <footer>
    <hr class="hr--spaced">
    <div class="blog-post-footer">
      <div class="blog-post-footer__inner">
        <p>
          <strong>Hey there, I'm Greg! 🇨🇦🌲👨🏼‍💻</strong> Interested in more stuff like this?
          Feel free to subscribe to my newsletter.
        </p>

        {% include './subscription-form.html' %}
      </div>
    </div>

    <div class="content">
      <hr class="hr--spaced">
      <p>
        Here are some other things I've written recently that you may enjoy 🙂
      </p>
      <ul>
        {% for post in recentBlogPosts %}
          {% if post.ID != blogPost.ID %}
            <li>
              <a href="/blog/{{ post.Slug }}">{{ post.Title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <p>
        <br>
        <small>
          <a href="/blog">&laquo; All Blog Posts</a>
        </small>
      </p>
    </div>
  </footer>
</article>
