<div class="content blog-post">
  <h1>
    {{ blogPost.Published | yesno:",📝 " }}{{ blogPost.Title }}
    <time datetime{{ blogPost.Date }}>
      {{ blogPost.Date | isoformat }}
    </time>
  </h1>

  {% if loggedIn %}
    <a href="/blog/{{ blogPost.Slug }}/edit">Edit</a> |
    {% include './publish_link.html' %} |
    {% include './delete_link.html' %}
  {% endif %}

  {{ blogPost.Content | markdown }}

  <footer>
    {% include './blog_post_tag.html' with tags=blogPost.Tags %}
  </footer>
</div>
