<footer class="bottom-footer mt-20">
  <div class="container">
    <img
            src="{{ staticUrl }}/build/images/greg.svg"
            alt="Gregory Schier Headshot Art"
    />

    <div class="text-center pt-8 text-xs text-gray-500">
      <a href="//twitter.com/GregorySchier" rel="noopener" title="Twitter">
        Twitter
      </a>
      |
      <a href="//github.com/gschier" rel="noopener" title="GitHub">
        GitHub
      </a>
      |
      <a
              href="/index.xml"
              type="application/rss+xml"
              target="_blank"
              title="RSS"
      >
        RSS
      </a>
      <div class="mt-2 text-sm">
        Thanks for visiting!
      </div>
    </div>
  </div>
</footer>
