<footer class="bottom-footer">
    <div class="container">
        <div class="links">
            <a href="//twitter.com/GregorySchier" rel="noopener">Twitter</a>
            &centerdot;
            <a href="https://mastodon.social/@gschier" rel="me">Mastodon</a>
            &centerdot;
            <a href="//github.com/gschier" rel="noopener">GitHub</a>
            &centerdot;
            <a href="/newsletter">Newsletter</a>

            <p>&copy; Greg Schier</p>
        </div>
        {% if loggedIn %}
            <br>
            <div class="notice notice--warning">
                <a href="/logout" class="btn btn--sm btn--warning">Logout</a>
                <a href="https://analytics.schier.co/analytics/site_RPutoRaXSMBFj6hyzV"
                   class="btn btn--sm btn--warning">Analytics</a>
                <br>
                <br>
                <a href="{{ pageUrl }}"><code style="font-size:0.9em;">{{ pageUrl }}</code></a>
            </div>
        {% endif %}
    </div>
</footer>
