<footer class="bottom-footer">
  <div class="container">
    <img
            src="{{ staticUrl }}/build/images/greg.svg"
            alt="Gregory Schier Headshot Art"
    />

    <div class="links">
      <a href="//twitter.com/GregorySchier" rel="noopener">
        Twitter
      </a>
      |
      <a href="//github.com/gschier" rel="noopener">
        GitHub
      </a>
      |
      <a href="/index.xml" type="application/rss+xml" target="_blank">
        RSS
      </a>
      <p>
        Thanks for visiting!
      </p>
    </div>
  </div>
</footer>
