<div class="subscription-form">
  <div class="subscription-form__inner">
    <a class="subscription-form__hide" href="#" title="Hide subscription form">
      &times;
    </a>
    <script>
      (function() {
        const el = document.querySelector('.subscription-form');
        const btn = document.querySelector('.subscription-form__hide');

        function h() {
          const time = parseInt(localStorage.schierSubHide);

          // Re-show every two weeks
          if (!isNaN(time) && (Date.now() - time) < 1209600000) {
            el.style.display = 'none';
          }
        }

        btn.addEventListener('click', function(e) {
          e.preventDefault();
          localStorage.schierSubHide = Date.now();
          h();
        });

        h();
      })();
    </script>
    <p>
      <strong>Be the first to hear about posts</strong>, right in your inbox 💌 </p>

    {% include 'partials/subscription-form.html' %}
  </div>
</div>
