<div class="subscription-form">
  <div class="subscription-form__inner">
    <button class="subscription-form__hide">&times;</button>
    <script>
      (function () {
        const el = document.querySelector('.subscription-form');
        const btn = document.querySelector('.subscription-form__hide');

        function h() {
          const time = parseInt(localStorage.schierSubHide);

          // Re-show every two weeks
          if (!isNaN(time) && (Date.now() - time) < 1000 * 60 * 60 * 24 * 14) {
            el.style.display = 'none';
          }
        }

        h();

        btn.addEventListener('click', function (e) {
          e.preventDefault();
          localStorage.schierSubHide = Date.now();
          h();
        });
      })();
    </script>
    <p>
      <strong>Be the first to hear about posts</strong>, right in your inbox 💌
    </p>

    {% include './subscription-form.html' %}
  </div>
</div>
