<nav class="top-nav">
  <div class="container">
    <ul>
      <li>
        <a href="/" class="logo">
          {{ 'images/greg-rounded.svg' | inlinestatic | safe }}
        </a>
      </li>
      {% if loggedIn %}
        <li>
          <a href="/logout">Logout</a>
        </li>
      {% endif %}
      <li>
        <a href="/books">Books</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li>
      <li>
        <a href="/blog/page/1">Blog</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#" data-toggle-theme style="font-size:0">
          <span title="Automatic theme" data-theme="auto">
            {{ 'images/icons/adjust.svg' | inlinestatic | safe }}
          </span>
          <span title="Light theme" data-theme="light" style="display:none">
            {{ 'images/icons/sun.svg' | inlinestatic | safe }}
          </span>
          <span title="Dark theme" data-theme="dark" style="display:none">
            {{ 'images/icons/moon.svg' | inlinestatic | safe }}
          </span>
        </a>
      </li>
      <li class="hidden-mobile">
        <a href="//twitter.com/GregorySchier" rel="noopener">
          {{ 'images/icons/twitter.svg' | inlinestatic | safe }}
        </a>
      </li>
      <li class="hidden-mobile">
        <a href="/blog/search">
          {{ 'images/icons/search.svg' | inlinestatic | safe }}
        </a>
      </li>
    </ul>
  </div>
</nav>
