{% extends '../layouts/base.html' %}

{% block content %}
    <div class="mx-auto max-w-sm">
        <h1>Sign In</h1>
        <form class="my-6" action="/forms/login" method="post">
            {{ csrfField | safe }}
            <div class="form-row">
                {% include '../partials/form-input.html' with label='Email' type='email' name='email' placeholder='me@example.com' autofocus=true %}
            </div>
            <div class="form-row">
                {% include '../partials/form-input.html' with label='Password' type='password' name='password' placeholder='•••••••••••••••••' %}
            </div>
            <div class="form-row flex">
                <a href="/register">or signup</a>
                <button class="btn ml-auto">
                    Login
                </button>
            </div>
        </form>
    </div>
{% endblock %}
