{% extends './wrapper.html' %}

{% block body %}
  <nav>
    <ul class="container top-nav">
      <li class="mr-auto">
        <a href="/">
          <img
                  src="{{ staticUrl }}/build/images/greg.svg"
                  alt="Gregory Schier Headshot Art"
          />
        </a>
      </li>
      <li class="mr-6">
        <a href="/blog">Blog</a>
      </li>
      <li class="mr-6">
        <a href="/books">Books</a>
      </li>
      {% if loggedIn %}
        <li class="mr-6">
          <a href="/logout">Logout</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="bottom-footer mt-20">
    <div class="container">
      <img
              src="{{ staticUrl }}/build/images/greg.svg"
              alt="Gregory Schier Headshot Art"
      />

      <div class="text-center pt-8">
        <a href="//twitter.com/GregorySchier" target="_blank" title="Twitter">
          <i class="fa fa-twitter text-2xl w-10" aria-hidden="true"></i>
        </a>
        <a href="//github.com/gschier" target="_blank" title="GitHub">
          <i class="fa fa-github text-2xl w-10" aria-hidden="true"></i>
        </a>
        <a
                href="/index.xml"
                type="application/rss+xml"
                target="_blank"
                title="RSS"
        >
          <i class="fa fa-rss text-2xl w-10" aria-hidden="true"></i>
        </a>
        <div class="mt-2 text-sm text-gray-500">
          Thanks for visiting!
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
