{% extends '../../layouts/base.html' %}

{% block extraStyles %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
{% endblock %}

{% block content %}
  <div class="content container">
    <header>
      <h1>🚀 Website Analytics</h1>
      <div class="meta">
        <span id="live-users">...</span> live users
      </div>
    </header>
    <canvas id="page-views"></canvas>
    <div style="display:flex;">
      <canvas id="top-platforms" style="max-width:50%"></canvas>
      <canvas id="top-browsers" style="max-width:50%"></canvas>
    </div>
    <table>
      <thead>
      <tr>
        <th>Page</th>
        <th>Views</th>
      </tr>
      </thead>
      <tbody>
      {% for p in topPaths %}
        <tr>
          <td>
            <a href="{{ p.Name }}" target="_blank">
              <code>
                {{ p.Name | truncatechars:"60" }}
              </code>
            </a>
          </td>
          <td>{{ p.Count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    const el = document.querySelector('#live-users');
    const next = async () => {
      const res = await fetch('/analytics/live');
      const data = await res.json();
      el.innerHTML = data.count;
    };
    setInterval(next, 5000);
    next();
  </script>
  <script>
    const days = [];
    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    for (let i = 0; i < 7; i++) {
      const d = new Date(Date.now() - 1000 * 3600 * 24 * (7 - i - 1));
      days.push(months[d.getMonth()] + ' ' + d.getDate());
    }

    const colors = {
      red: '#fc8181',
      orange: '#f6ad55',
      yellow: '#f6e05e',
      green: '#68d391',
      teal: '#4fd1c5',
      blue: '#63b3ed',
      indigo: '#7f9cf5',
      purple: '#b794f4',
      pink: '#f687b3',
    };

    const pageViews = [{{ pageViews | join:', ' }}];
    const users = [{{ users | join:', ' }}];
    new Chart(document.querySelector('#page-views').getContext('2d'), {
      type: 'line',
      data: {
        labels: days,
        datasets: [{
          label: 'Users',
          data: users,
          backgroundColor: colors.purple,
          borderWidth: 1
        }, {
          label: 'Views',
          data: pageViews,
          backgroundColor: colors.blue,
          borderWidth: 1
        }],
      },
    });

    new Chart(document.querySelector('#top-browsers').getContext('2d'), {
      type: 'doughnut',
      data: {
        labels: [{% for e in topBrowsers %}'{{ e.Name }}', {% endfor %}],
        datasets: [{
          label: 'Browsers',
          data: [{% for e in topBrowsers %}'{{ e.Count }}', {% endfor %}],
          backgroundColor: Object.values(colors),
        }],
      },
    });

    new Chart(document.querySelector('#top-platforms').getContext('2d'), {
      type: 'doughnut',
      data: {
        labels: [{% for e in topPlatforms %}'{{ e.Name }}', {% endfor %}],
        datasets: [{
          label: 'Operating Systems',
          data: [{% for e in topPlatforms %}'{{ e.Count }}', {% endfor %}],
          backgroundColor: Object.values(colors),
        }],
      },
    });
  </script>
{% endblock %}
