{% extends '../../layouts/base.html' %}

{% block extraStyles %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
{% endblock %}

{% block content %}
  <div class="content container">
    <h1>Analytics 📈</h1>
    <canvas id="page-views"></canvas>
    <table>
      <thead>
      <tr>
        <th>Page</th>
        <th>Views</th>
      </tr>
      </thead>
      <tbody>
      {% for p in topPaths %}
        <tr>
          <td>{{ p.Name }}</td>
          <td>{{ p.Count }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    const ctx2 = document.getElementById('page-views').getContext('2d');
    const days = [];
    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    for (let i = 0; i < 7; i++) {
      const d = new Date(Date.now() - 1000 * 3600 * 24 * (7 - i - 1));
      days.push(months[d.getMonth()] + ' ' + d.getDate());
    }

    const colors = {
      red: a => `rgba(255, 99, 132, ${a})`,
      blue: a => `rgba(54, 162, 235, ${a})`,
      yellow: a => `rgba(255, 206, 86, ${a})`,
      green: a => `rgba(75, 192, 192, ${a})`,
      purple: a => `rgba(153, 102, 255, ${a})`,
      orange: a => `rgba(255, 159, 64, ${a})`,
    };

    const pageViews = [{{ pageViews | join:', ' }}];
    const users = [{{ users | join:', ' }}];
    const myLineChart = new Chart(ctx2, {
      type: 'line',
      data: {
        labels: days,
        datasets: [{
          label: 'Users',
          data: users,
          backgroundColor: colors.purple(1),
          borderWidth: 1
        }, {
          label: 'Views',
          data: pageViews,
          backgroundColor: colors.blue(1),
          borderWidth: 1
        }],
      },
    });
  </script>
{% endblock %}
