@tailwind base;

html {
  @apply bg-background text-primary;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  @apply p-0 text-primary;
}

body[data-logged-in='yes'] {
  @apply border-t-4 border-danger-500;
}

main {
  margin-left: auto;
  margin-right: auto;
  min-height: 30vh;
}

.container {
  @apply mx-auto px-4;
  max-width: 40rem;
}

.link {
  -webkit-appearance: initial;
}

a,
.link {
  @apply text-secondary;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

hr {
  @apply border-gray-300 border-0 border-b my-8;
}

small {
  @apply text-sm;
}

h1 {
  @apply text-3xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

.btn {
  @apply bg-primary-600 text-gray-100 font-semibold py-2 px-4 text-sm rounded w-auto inline-block;
}

.btn svg {
  @apply h-4 w-auto;
}

.btn path {
  @apply fill-current;
}

.btn:hover:not(:disabled) {
  @apply bg-primary-500 no-underline;
}

.btn.btn-faint {
  @apply bg-gray-200 text-gray-400 ml-auto py-1 px-3 text-lg;
}

.btn.btn-faint:hover:not(:disabled) {
  @apply bg-gray-300;
}

.btn.btn-gray {
  @apply bg-gray-200 text-gray-600 ml-auto py-1 px-3 text-lg font-semibold;
}

.btn.btn-gray:hover:not(:disabled) {
  @apply bg-gray-300;
}

.btn.btn-small {
  @apply py-1 px-3 text-xs rounded-sm;
}

.btn.btn-tiny {
  @apply py-0 px-3 text-xs rounded-sm;
}

.btn.btn-wide {
  @apply w-full;
}

.btn:disabled {
  @apply opacity-50 cursor-default;
}

/**********/
/* NOTICE */
/**********/

.notice {
  @apply border text-sm py-2 px-4 rounded border-dotted border-primary-200 bg-primary-100 text-center;
}

.notice > code {
  @apply bg-background border-background !important;
}

.notice--danger {
  @apply border-danger-400 bg-danger-100 text-danger;
}

.notice--warning {
  @apply border-warning-400 bg-warning-100 text-warning;
}

.notice--notice {
  @apply border-notice-400 bg-notice-100 text-notice;
}

.notice--info {
  @apply border-info-400 bg-info-100 text-info;
}

.notice--subtle {
  @apply border-dotted border-gray-400 bg-gray-100 text-gray-600;
}

/*********/
/* FORMS */
/*********/

.form-wrapper {
  @apply mx-auto max-w-sm;
}

.form-wrapper form {
  @apply my-6;
}

.form-row {
  @apply mb-6;
  box-sizing: border-box;
}

.form-actions {
  @apply flex items-center;
}

.form-actions > *:last-child {
  @apply ml-auto;
}

form label {
  @apply block text-gray-600 text-sm font-bold mb-2;
}

.CodeMirror,
form input,
form textarea {
  @apply appearance-none bg-gray-100 border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.CodeMirror-placeholder,
textarea::placeholder,
input::placeholder {
  @apply text-gray-400;
}

.CodeMirror-focused,
form input:focus {
  @apply bg-background outline-none border border-primary-400;
}

form textarea:invalid,
form input:invalid {
  @apply border-danger-500;
}

details summary {
  @apply cursor-pointer;
}

details summary:focus {
  @apply outline-none;
}

/*****************/
/* MARKDOWN POST */
/*****************/

.blog-post {
  @apply mb-10;
}

.blog-post-preview {
  @apply mt-12 pb-6 border-b border-primary-100;
}

.blog-post-continue {
  @apply flex flex-wrap;
}

.blog-post-continue > a:last-child {
  @apply ml-auto text-sm;
}

.blog-post-preview img {
  display: none;
}

.meta {
  @apply block text-sm text-gray-600 font-normal;
}

.blog-post-preview h2 {
  @apply mb-4 text-2xl;
}

.blog-post-preview h2 a:not(:hover) {
  color: inherit;
}

.content h1 {
  @apply text-3xl;
}

.content h2 {
  @apply text-2xl pt-2;
}

.content h3 {
  @apply text-xl;
}

.content ul li {
  @apply list-disc ml-6;
}

.content ol li {
  @apply list-decimal ml-6;
}

.content dl {
}

.content dl dt {
  @apply font-bold;
}

.content dl dt::after {
  content: ':';
}

.content dl dd {
}

.content blockquote,
.content canvas,
.content details,
.content form,
.content table,
.content summary,
.content > div,
.content > header,
.content > dl,
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
.content > hr,
.content > img,
.content > ol,
.content > p,
.content > pre,
.content > ul {
  @apply my-6;
}

.content canvas {
  @apply block w-full rounded-sm my-8;
}

.content > p {
  @apply leading-relaxed;
}

.content p > img {
  @apply block mx-auto rounded-sm my-8;
  max-height: 50vh;
}

.content .footnotes {
  @apply text-sm opacity-80 my-10 italic;
}

.content .footnotes li {
  @apply ml-5;
}

.content .footnotes hr {
  @apply hidden;
}

.content :not(pre) code {
  @apply bg-gray-200 rounded px-1 border-2 border-gray-200 font-mono;

  /* Relative size so it works in headings and stuff */
  font-size: 0.8em;
}

.content table {
  @apply w-full;
}

.content table th {
  @apply text-left;
}

.content table th,
.content table td {
  @apply border border-gray-300 px-2 py-1;
}

.content table thead tr {
  @apply bg-gray-200;
}

.content blockquote {
  @apply border-l-4 border-gray-300 p-3 bg-gray-100 italic text-gray-700 rounded-sm;
}

.blog-post hr {
  @apply border-gray-300 border-0 border-double border-b-4 my-8 mx-auto;
  width: 5em;
}

/**************/
/* PAGINATION */
/**************/

.pagination {
  @apply mt-10 flex justify-between;
}

.pagination-center {
  @apply text-center w-full;
}

.pagination-left {
  @apply w-24 text-left whitespace-no-wrap;
}

.pagination-right {
  @apply w-24 text-center;
}

/*********************/
/* SUBSCRIPTION FORM */
/*********************/

.subscription-form {
  @apply border border-dashed border-primary-400 bg-primary-50 rounded mt-10;
}

.subscription-form small {
  @apply text-xs italic text-gray-600;
}

.subscription-form p {
  @apply mb-4;
}

.subscription-form input {
  @apply border-primary-300;
}

.subscription-form form {
  @apply mx-auto;
  max-width: 24rem;
}

.subscription-form__inner {
  @apply text-center mx-auto py-10 px-4;
}

/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

pre.chroma-chroma {
  @apply block bg-gray-100 p-6 overflow-auto rounded font-mono border border-gray-200 overflow-x-auto cursor-text;
  tab-size: 4;
  font-size: 0.8em;
}

.chroma-cm,
.chroma-c1 {
  @apply italic text-syntax4;
}

.chroma-s1,
.chroma-sb,
.chroma-s2 {
  @apply text-syntax1;
}

.chroma-nt,
.chroma-nb {
  @apply text-gray-500 text-syntax2;
}

.chroma-k,
.chroma-kd {
  @apply text-syntax3;
}

.chroma-mi {
  @apply text-syntax1;
}

/******************/
/* TOP NAVIGATION */
/******************/

.top-nav .container {
  @apply flex flex-row items-center py-4;
}

.top-nav a {
  @apply text-gray-600;
}

.top-nav img {
  @apply h-10 overflow-visible;
}

.top-nav li {
  @apply ml-6;
}

.top-nav li:first-child {
  @apply ml-0 mr-auto;
}

/*****************/
/* BOTTOM FOOTER */
/*****************/

.bottom-footer {
  @apply bg-gray-100 py-32 mt-24;
}

.bottom-footer .links {
  @apply text-center pt-8 text-sm text-gray-500;
}

.bottom-footer .links p {
  @apply mt-2 mb-0;
}

.bottom-footer img {
  @apply mx-auto;
  width: 7rem;
}

.bottom-footer a i {
  @apply text-secondary no-underline;
}

/****************/
/* BUTTON INPUT */
/****************/

.button-input {
  @apply flex;
}

.button-input label {
  @apply hidden;
}

.button-input input {
  @apply rounded-r-none border-r-0;
}

.button-input input:focus {
  @apply border-r-0;
}

.button-input .btn {
  @apply w-auto text-center text-xs rounded-l-none;
}

/********/
/* TAGS */
/********/

.all-tags {
  @apply flex flex-wrap justify-between;
}

.all-tags .tag {
  @apply mt-2;
}

.tag {
  @apply mr-2 rounded-full border-primary-400 border uppercase inline-block;
  font-size: 0.7em;
  padding: 0 0.6em;
}

/********************/
/* BLOG POST EDITOR */
/********************/

.blog-post-editor {
  @apply bg-background;
  display: grid;
  grid-template-areas: 'editor preview';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blog-post-editor__edit {
  @apply p-4 mx-auto w-full;
  grid-area: editor;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  max-width: 40rem;
}

.blog-post-editor__edit .CodeMirror {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.blog-post-editor__edit .CodeMirror-focused {
  @apply shadow-none;
}

.blog-post-editor__edit .CodeMirror-gutters,
.blog-post-editor__edit .CodeMirror-gutter-wrapper {
  @apply hidden;
}

.blog-post-editor__preview {
  grid-area: preview;
}

.blog-post-editor__preview iframe {
  @apply w-full h-full;
}

.CodeMirror {
  height: 300px;
  font-family: Monaco, monospace !important;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.CodeMirror .cm-typo {
  background: rgba(255, 137, 0, 0.1) !important;
  border-bottom: 2px dotted #ff5f00;
}

body .CodeMirror .cm-variable-2 {
  @apply text-primary;
}

body .CodeMirror .cm-link {
  @apply text-syntax1;
}

body .CodeMirror .cm-url {
  @apply text-syntax2;
}

body .CodeMirror .cm-header {
  @apply text-syntax2;
}

body .CodeMirror .cm-comment {
  @apply text-syntax4;
}

/***********/
/* PROJECT */
/***********/

.project {
  @apply mt-10;
}

.project img {
  @apply h-6 rounded-sm mr-2;
}

.project h3 {
  @apply text-xl;
}

.project p {
  @apply my-1;
}

.project h3 > a {
  @apply flex;
}

.project small {
  @apply text-sm text-gray-600 italic;
}

/* CARDS */

.cards {
  @apply flex flex-1 -mx-2 items-stretch;
}

.cards--2,
.cards--3,
.cards--flexy {
  @apply flex-wrap;
}

.cards--2 .card {
  flex-grow: 1;
}

.cards--flexy .card {
  flex-grow: 1;
  flex-basis: auto;
  width: auto;
}

.card {
  @apply px-2 w-full mx-auto block;
}

.card__inner {
  @apply border border-dashed border-gray-400 rounded px-4 py-2 mt-4;
}

.card__inner > *:not(:last-child) {
  @apply m-0 mb-1 p-0;
}

.card__title {
  @apply text-xs text-gray-500 whitespace-no-wrap;
}

.card__body--big {
  @apply text-3xl font-thin;
}

.card--clicky:hover {
  @apply cursor-pointer;
}

.card--clicky:hover a {
  @apply underline;
}

.card--clicky:active {
  @apply cursor-pointer;
}

.card--clicky:hover .card__inner {
  @apply border-primary-400;
}

@media only screen and (max-width: 600px) {
  .cards {
    @apply flex-wrap;
  }

  .cards .card {
    @apply w-full;
  }

  .cards.cards--double-wrap .card {
    width: 50%;
  }

  .card__body {
    @apply text-lg;
  }

  .card__body--big {
    @apply text-2xl;
  }
}

/*************/
/* HOME HERO */
/*************/

.home-hero {
  @apply flex items-center justify-between mt-6;
}

.home-hero__avatar {
  @apply pr-8 mt-6;
}

.home-hero__avatar img {
  @apply rounded-full block mx-auto;
  width: 18rem;
}

@media only screen and (max-width: 600px) {
  .home-hero {
    @apply flex-wrap;
  }

  .home-hero__avatar {
    @apply mx-auto w-auto;
    max-width: 12rem;
  }
}

/***************/
/* CLAP BUTTON */
/***************/

.clap-button {
  @apply flex items-center text-sm text-gray-600 mr-4;
}

.clap-button button {
  @apply rounded-full border border-gray-600 mr-3;
  @apply outline-none !important;
  width: 3rem;
  height: 3rem;
  transition: transform 100ms;
}

.clap-button button:disabled {
  @apply opacity-50 cursor-default;
}

.clap-button button:not(:disabled):hover {
  @apply border-gray-800;
}

.clap-button button:not(:disabled):active {
  transform: scale(1.1);
}

.clap-button button:not(:disabled):hover svg path {
  @apply fill-current text-gray-900;
}

.clap-button button svg {
  padding: 17%;
}

.clap-button button svg path {
  @apply fill-current text-gray-700;
}

.expose-on-clap {
  @apply text-sm hidden opacity-0;
}

.expose-on-clap > * {
  @apply mt-6;
}

.expose-on-clap--show {
  @apply opacity-100 block;
  transition: opacity 200ms;
}

/***********/
/* HELPERS */
/***********/

.row-spaced {
  @apply flex justify-between items-center;
}

.hr--spaced {
  @apply my-12;
}

.inline-form {
  @apply inline;
}

@media only screen and (max-width: 600px) {
  .hidden-mobile {
    @apply hidden;
  }
}

/************************/
/* MUST BE APPLIED LAST */
/************************/

[v-cloak] {
  @apply hidden;
}
