@tailwind base;

html {
  @apply bg-background text-primary;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  @apply p-0 text-primary;
}

body[data-logged-in="yes"] {
  @apply border-t-4 border-danger-500;
}

main {
  margin-left: auto;
  margin-right: auto;
  min-height: 30vh;
}

.container {
  @apply mx-auto px-4;
  max-width: 40rem;
}

.link {
  -webkit-appearance: initial;
}

a,
.link {
  @apply text-secondary;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

p {
  @apply mb-8 leading-relaxed;
}

h1 {
  @apply text-3xl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

.btn {
  @apply bg-primary-600 text-gray-100 font-bold py-2 px-4 rounded flex;
}

.btn:hover {
  @apply bg-primary-500;
}

.btn.btn-gray {
  @apply bg-gray-200 text-gray-500 ml-auto py-1 px-3 text-lg;
}

.btn.btn-gray:hover {
  @apply bg-gray-300;
}

.btn.btn-small {
  @apply py-1 px-3 text-sm rounded h-8;
}

/**********/
/* NOTICE */
/**********/

.notice {
  @apply border border-danger-400 bg-danger-100 text-danger text-sm py-2 px-4 rounded;
}

/*********/
/* FORMS */
/*********/

.form-wrapper {
  @apply mx-auto max-w-sm;
}

.form-wrapper form {
  @apply my-6;
}

.form-row {
  @apply mb-6;
}

.form-actions {
  @apply flex items-center;
}

.form-actions > *:last-child {
  @apply ml-auto;
}

form label {
  @apply block text-gray-600 text-sm font-bold mb-2;
}

.CodeMirror,
form input,
form textarea {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.CodeMirror-focused,
form input:focus {
  @apply outline-none shadow-outline;
}

form textarea:invalid,
form input:invalid {
  box-shadow: 0 0 3px rgba(255, 50, 50, 0.4);
}

/*****************/
/* MARKDOWN POST */
/*****************/

.blog-post-preview {
  @apply mt-12 pb-6 border-b border-primary-100;
}

.blog-post-continue {
  @apply flex flex-wrap;
}

.blog-post-continue a:last-child {
  @apply ml-auto text-sm;
}

.blog-post-preview img {
  display: none;
}

.blog-post-preview time,
.blog-post time {
  @apply uppercase block text-sm text-gray-500;
}

.blog-post-preview h2 {
  @apply mb-4 text-2xl;
}

.blog-post-preview h2 a:not(:hover) {
  color: inherit;
}

.content h1 {
  @apply text-3xl;
}

.content h2 {
  @apply text-2xl pt-2;
}

.content h3 {
  @apply text-xl;
}

.content ul li {
  @apply list-disc ml-6;
}

.content ol li {
  @apply list-decimal ml-6;
}

.content > * {
  @apply my-6;
}

.content p > img {
  @apply block mx-auto rounded-sm my-8;
}

.content :not(pre) code {
  @apply text-xs bg-gray-200 rounded px-1 border-2 border-gray-200 font-mono;
}

.content hr {
  @apply text-gray-100 border-0 border-b my-8;
}

.content footer {
  @apply mt-8;
}

/**************/
/* PAGINATION */
/**************/

.pagination {
  @apply mt-10 flex justify-between;
}

.pagination-center {
  @apply text-center w-full;
}

.pagination-left {
  @apply w-20 text-left;
}

.pagination-right {
  @apply w-20 text-center;
}

/***********************/
/* SYNTAX HIGHLIGHTING */
/***********************/

pre.chroma-chroma {
  @apply block bg-gray-100 p-6 overflow-auto rounded font-mono border border-gray-200 overflow-x-auto cursor-text;
  tab-size: 4;
  font-size: 0.8em;
}

.chroma-cm,
.chroma-c1 {
  @apply italic text-syntax4;
}

.chroma-s1,
.chroma-sb,
.chroma-s2 {
  @apply text-syntax1;
}

.chroma-nt,
.chroma-nb {
  @apply text-gray-500 text-syntax2;
}

.chroma-k,
.chroma-kd {
  @apply text-syntax3;
}

.chroma-mi {
  @apply text-syntax1;
}

/******************/
/* TOP NAVIGATION */
/******************/

.top-nav .container {
  @apply flex flex-row items-center py-4 mb-10;
}

.top-nav a {
  @apply text-gray-500;
}

.top-nav img {
  @apply h-10 overflow-visible;
}

.top-nav li {
  @apply ml-6;
}

.top-nav li:first-child {
  @apply ml-0 mr-auto;
}

/*****************/
/* BOTTOM FOOTER */
/*****************/

.bottom-footer {
  @apply bg-gray-100 py-32 mt-32;
}

.bottom-footer .links {
  @apply text-center pt-8 text-sm text-gray-500;
}

.bottom-footer .links p {
  @apply mt-2 mb-0;
}

.bottom-footer img {
  @apply mx-auto;
  width: 7rem;
}

.bottom-footer a i {
  @apply text-secondary no-underline;
}

/********/
/* TAGS */
/********/

.all-tags {
  @apply flex flex-wrap justify-between;
}

.all-tags .tag {
  @apply mt-2;
}

.tag {
  @apply mr-2 rounded-full border-primary-400 border uppercase inline-block leading-relaxed;
  font-size: 0.75rem;
  padding: 0.08rem 0.6rem;
}

/********************/
/* BLOG POST EDITOR */
/********************/

.blog-post-editor {
  @apply bg-background;
  display: grid;
  grid-template-areas: "editor preview";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.blog-post-editor__edit {
  @apply p-4 mx-auto w-full;
  grid-area: editor;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  max-width: 40rem;
}

.blog-post-editor__edit .CodeMirror {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.blog-post-editor__edit .CodeMirror-focused {
  @apply shadow-none;
}

.blog-post-editor__edit .CodeMirror-gutters,
.blog-post-editor__edit .CodeMirror-gutter-wrapper {
  @apply hidden;
}

.blog-post-editor__preview {
  grid-area: preview;
}

.blog-post-editor__preview iframe {
  @apply w-full h-full;
}

.CodeMirror {
  height: 300px;
  font-family: Monaco, monospace !important;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/***********/
/* PROJECT */
/***********/

.project {
  @apply mt-10;
}

.project img {
  @apply h-6 rounded-sm mr-2;
}

.project h3 {
  @apply text-xl;
}

.project p {
  @apply my-1;
}

.project h3 > a {
  @apply flex;
}

.project small {
  @apply text-sm text-gray-600 italic;
}

/**********/
/* AVATAR */
/**********/

.avatar {
  @apply rounded-full mx-auto my-12 block;
}

/***********/
/* HELPERS */
/***********/

.inline-form {
  @apply inline;
}

/************************/
/* MUST BE APPLIED LAST */
/************************/

[v-cloak] {
  @apply hidden;
}
