{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="form-wrapper">
    <h1>Sign In</h1>
    <form method="post">
      {% if error %}
        <p class="notice">
          {{ error }}
        </p>
      {% endif %}
      {{ csrfField | safe }}
      <div class="form-row">
        {% include '../../partials/form-input.html' with label='Email' type='email' name='email' placeholder='me@example.com' autofocus=true value=email %}
      </div>
      <div class="form-row">
        {% include '../../partials/form-input.html' with label='Password' type='password' name='password' placeholder='•••••••••••••••••' value=password %}
      </div>
      <div class="form-actions">
        <a href="/register">or signup</a>
        <button class="btn">
          Login
        </button>
      </div>
    </form>
  </div>
{% endblock %}
