{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container form-wrapper">
    <h1>Create an Account</h1>
    <form method="post">
      {% if error %}
        <p class="notice notice--danger">
          {{ error }}
        </p>
      {% endif %}
      {{ csrfField | safe }}
      {% include 'partials/form-input.html' with label='Email' type='email' name='email' placeholder='me@example.com' autofocus=true %}
      {% include 'partials/form-input.html' with label='Name' name='name' placeholder='Tim Burton' %}
      {% include 'partials/form-input.html' with label='Password' type='password' name='password' placeholder='•••••••••••••••••' %}
      <div class="form-actions">
        <a href="/login">or login</a>
        <button class="btn">
          Register
        </button>
      </div>
    </form>
  </div>
{% endblock %}
