{% extends 'layouts/base.html' %} {% block content %}
<div class="container">
  <div class="home-hero">
    <div class="home-hero__avatar">
      <img
        src="data:image/jpg;base64,{{ 'images/me.jpg' | inlinestatic:'base64' }}"
        alt="{{ project.Name }} icon"
      />
    </div>
    <div class="home-hero__bio content">
      <h1>Hey there, I'm Greg!</h1>
      <p>
        I'm an indie developer in Canada 🇨🇦, best known for <a href="https://insomnia.rest">Insomnia</a>
        which was acquired at $30k MRR. I'm now teaching code at <a href="https://codesalad.dev">Code Salad</a>
        and working on a few <a href="/projects">other projects</a>.
      </p>
      <p>
        Reach me
        <a href="https://twitter.com/GregorySchier" rel="noopener"
          >@GregorySchier</a
        >
      </p>
    </div>
  </div>

  <hr class="hr--spaced" />

  <div class="content">
    <h2>Recent Writings ✍🏻</h2>
    <p>
      Here are some notable posts from my <a href="/blog">Blog</a>, where I write about indie development,
      productivity, personal health, and software.
    </p>
  </div>
  {% include 'partials/post-cards.html' %}
  <br />

  {% include 'partials/full-subscription-form.html' %}
</div>
{% endblock %}
