{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="container">
    <div class="home-hero">
      <div class="home-hero__avatar">
        <img src="{{ staticUrl }}/build/images/me.jpg" alt="Greg Schier headshot"/>
      </div>
      <div class="home-hero__bio content">
        <h1>Hey there, I'm Greg!</h1>
        <p>
          I'm a software dev in Montréal 🇨🇦. I'm best-known for creating
          <a href="https://insomnia.rest">Insomnia</a> but also have
          <a href="/projects">many projects</a> in the works.
        </p>
        <p>
          Reach me <a href="https://twitter.com/GregorySchier" rel="noopener">@GregorySchier</a>
        </p>
      </div>
    </div>

    <hr class="hr--spaced">

    <div class="content">
      <h2>Recent Writing ✍🏻</h2>
      <p>Here are some things I've written about recently on the <a href="/blog">Blog</a>.</p>
    </div>
    <div class="cards">
      {% for blogPost in blogPosts %}
        <div class="card">
          <div class="card__inner">
            {% include '../../partials/blog_post_meta.html' %}
            <p class="card__body">{{ blogPost.Title }}</p>
            <small>
              <a href="/blog/{{ blogPost.Slug }}">Read Post &raquo;</a>
            </small>
          </div>
        </div>
      {% endfor %}
    </div>

    {% include '../../partials/full-subscription-form.html' with wording=2 %}
  </div>
{% endblock %}
