{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="content blog-post">
    <h1>Hey there, I'm Greg!</h1>
    <p>
      I'm an independent software developer from Canada. Web development is my primary focus,
      but I also like to dabble with mobile apps, games, and design.
    </p>
    <p>
      The best way to reach out to me is on Twitter <a href="https://twitter.com/GregorySchier" rel="noopener">
      @GregorySchier</a>
    </p>
    <img
            src="{{ staticUrl }}/build/images/me.jpg"
            class="avatar"
            alt="Greg Schier bust"
            style="height:200px;box-shadow:1px 1px 0.7rem rgba(0,0,0,0.2)"
    />

    <h2>Recent Posts 📝</h2>
    <p>Here are some things I've written about recently on the <a href="/blog">Blog</a>.</p>
    <ul>
      {% for post in blogPosts %}
        <li>
          <a href="/blog/{{ post.Slug }}">{{ post.Title }}</a>
        </li>
      {% endfor %}
    </ul>

    <hr>

    <h2>Projects 🏡</h2>

    <p>
      I love building things. Here are some of the projects I currently maintain.
    </p>

    {% for project in projects %}
      {% if not project.Retired %}
        {% include '../../partials/project.html' with project=project %}
      {% endif %}
    {% endfor %}

    <hr>

    <h2>Retired Projects 🏚</h2>

    <p>
      Some projects don't stand the test of time. Here are a few that I've had to shut down for
      various reasons.
    </p>

    {% for project in projects %}
      {% if project.Retired %}
        {% include '../../partials/project.html' with project=project %}
      {% endif %}
    {% endfor %}

    <hr>

    <h2>Favorite Books 📚</h2>
    <p>I only started reading a couple years ago. Here are my favorites so far.</p>
    <ol>
      {% for book in books %}
        <li>
          {% if book.Link %}
            <a href="{{ book.Link }}">
              {{ book.Title }} ({{ book.Author }})
            </a>
          {% else %}
            {{ book.Title }} ({{ book.Author }})
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    <hr>

    <h2>Favorite Things 🌟</h2>

    <p>Here are a few of the things that I can't live without.</p>

    <ul>
      {% for thing in favoriteThings %}
        <li>
          <a href="{{ thing.Link }}">
            {{ thing.Name }}
          </a> – {{ thing.Description }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
