{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container content">
    <h1>Keep in Touch</h1>
    <label for="subscription-form">
      <p>
        If you'd like to receive blog post updates straight to your inbox, feel free to subscribe to
        my newsletter 🥳
      </p>
    </label>
    {% include 'partials/subscription-form.html' %}
    <p><a href="/">&laquo; Home</a></p>

    {% if loggedIn %}
      <hr>
      <h2>Subscribers <code>{{ subscribers | length }}</code></h2>
      <table>
        <thead>
        <tr>
          <th>Created</th>
          <th>Email</th>
          <th style="width:2em;"></th>
        </tr>
        </thead>
        <tbody>
        {% for s in subscribers %}
          <tr>
            <td>{{ s.CreatedAt | isoformat }}</td>
            <td>
              <code style="word-break:break-all">
                {{ s.Email }}
              </code>
            </td>
            <td>{{ s.Unsubscribed | yesno:"✘,✔" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
