{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="container content">
    <h1>Email Newsletter</h1>
    <p>
      If you'd like to receive blog post updates straight to your inbox, feel free to subscribe to
      my newsletter 🥳
    </p>
    {% include '../../partials/subscription-form.html' %}
    <p><a href="/">&laquo; Home</a></p>

    {% if loggedIn %}
      <table>
        <thead>
        <tr>
          <th>Created</th>
          <th>Email</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for s in subscribers %}
          <tr>
            <td>{{ s.CreatedAt | isoformat }}</td>
            <td>{{ s.Email }}</td>
            <td>{{ s.Unsubscribed | yesno:"Unsubscribed,Subscribed" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}
