{% extends 'layouts/base.html' %}

{% block content %}
  <div class="container content">
    <h1>Projects</h1>
    <p>
      I love building things. Here are some of the projects I currently maintain.
    </p>

    {% for project in projects %}
      {% if not project.Retired %}
        {% include 'partials/project.html' with project=project %}
      {% endif %}
    {% endfor %}

    <hr>

    <h2>Retired Projects 🏚</h2>

    <p>
      Some projects don't stand the test of time. Here are a few that I've had to shut down for
      various reasons.
    </p>

    {% for project in projects %}
      {% if project.Retired %}
        {% include 'partials/project.html' with project=project %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
