@tailwind base;
@tailwind components;

html {
    @apply bg-background;
    font-size: 16px;
}

* {
    font-family: "Open Sans", sans-serif;
}

body {
    @apply mb-12 text-foreground;
    padding: 2rem;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.link {
    -webkit-appearance: initial;
}

a, .link {
    @apply text-primary-700;
}

a:hover, .link:hover {
    text-decoration: underline;
}

hr {
    @apply text-primary-100;
    border: 0;
    border-bottom: 1px solid;
}

h1 {
    font-size: 1.9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p {
    @apply my-4
}

.btn {
    @apply bg-primary-600 text-gray-100 font-bold py-2 px-4 rounded;
}

.btn:hover {
    @apply bg-secondary-700;
}

/*********/
/* FORMS */
/*********/

.form-row {
    @apply mb-6;
}

form label {
    @apply block text-gray-600 text-sm font-bold mb-2;
}

form input,
form textarea {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

form input:focus {
    @apply outline-none shadow-outline;
}

/*****************/
/* MARKDOWN POST */
/*****************/

.blog-post h1 {
    @apply text-4xl;
}

.blog-post h2 {
    @apply text-2xl mt-8;
}

.blog-post li {
    @apply list-disc ml-6;
}

.blog-post > * {
    @apply my-4;
}

/************************/
/* MUST BE APPLIED LAST */
/************************/

@tailwind utilities;
