{% extends '../../layouts/base.html' %}

{% block content %}
  <div class="container">
    <div class="home-hero">
      <div class="home-hero__avatar">
        <img
                src="data:image/jpg;base64,{{ 'images/me.jpg'  | inlineStatic:'base64' }}"
                alt="{{ project.Name }} icon"
        />
      </div>
      <div class="home-hero__bio content">
        <h1>Hey there, I'm Greg!</h1>
        <p>
          I'm a software dev in Montréal 🇨🇦 and best-known for creating
          <a href="https://insomnia.rest">Insomnia</a>. I also have
          <a href="/projects">some other projects</a> in the works.
        </p>
        <p>
          Reach me <a href="https://twitter.com/GregorySchier" rel="noopener">@GregorySchier</a>
        </p>
      </div>
    </div>

    <hr class="hr--spaced">

    <div class="content">
      <h2>Recent Writings ✍🏻</h2>
      <p>
        This year, I'm trying to write at least once a week. Here is some favorite from
        my <a href="/blog">Blog</a>.
      </p>
    </div>
    {% include '../../partials/post-cards.html' %}
    <br>

    {% include '../../partials/full-subscription-form.html' %}
  </div>
{% endblock %}
