.content {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl pt-2;
    }

    h3 {
        @apply text-xl;
    }

    ul li {
        @apply list-disc ml-6;
    }

    ul li, ol li {
        @apply my-0.5;
    }

    ol {
        @apply ml-6 list-none;
        counter-reset: li;

        & > li::before {
            @apply bg-gray-300 text-gray-700 rounded-full relative inline-block w-[1.5em] h-[1.5em] mr-[0.9em] font-mono;
            @apply -top-[0.15em] -ml-6 text-[0.8em] inline-flex items-center justify-center;
            counter-increment: li;
            content: counter(li);
        }
    }

    dl dt {
        @apply font-bold;
    }

    dl dt::after {
        content: ':';
    }

    blockquote,
    canvas,
    details,
    form,
    table,
    & > div,
    & > header,
    & > dl,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6,
    & > hr,
    & > img,
    & > ol,
    & > p,
    & > pre,
    & > ul {
        @apply my-6;
    }

    canvas {
        @apply block w-full rounded-sm my-8;
    }

    > p {
        @apply leading-relaxed;
    }

    * > img, p > a > img {
        @apply block mx-auto rounded max-h-[60vh] max-w-full;
    }

    figure figcaption {
        @apply text-sm py-0.5 pr-2 pl-6 relative text-gray-600;

        &:before {
            @apply h-3 w-3 border-l border-b border-syntax1 inline-block absolute left-2 top-0 rounded-bl-[3px];
            content: '';
        }
    }

    a {
        @apply border-gray-500 border-b-2 border-dotted;

        &:hover {
            @apply border-syntax1 no-underline;
        }

        &[target="_blank"] {
            @apply mr-0.5;
            &:after {
                @apply text-sm relative -top-1 -right-0.5;
                content: '⤴';
            }
        }
    }

    sup a {
        @apply border-none text-xs pl-0.5;

        &:before {
            content: '[';
        }

        &:after {
            content: ']';
        }
    }

    .footnotes {
        @apply text-sm opacity-70 my-10 italic;
    }

    :not(pre) code {
        @apply bg-gray-200 rounded px-1 border-2 border-gray-200 font-mono;

        /* Relative size so it works in headings and stuff */
        font-size: 0.8em;
    }

    table {
        @apply w-full;
    }

    table th {
        @apply text-left;
    }

    table th,
    table td {
        @apply border border-gray-300 px-2 py-1;
    }

    table thead tr {
        @apply bg-gray-200;
    }

    blockquote {
        @apply border-l-4 border-gray-300 p-3 bg-gray-100 italic text-gray-700 rounded-sm;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply text-gray-900;
    }

    h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
        .h-link {
            @apply absolute pl-8 pr-2 invisible border-0;
            right: 100%;
            color: inherit;

            svg {
                @apply h-4 opacity-50;
            }

            &:hover svg {
                @apply opacity-100;
            }
        }

        &:hover .h-link {
            @apply visible;
        }
    }
}
