.bottom-footer {
    @apply bg-gray-100 py-12 mt-24 border-t border-gray-200;

    .links {
        @apply text-center text-sm text-gray-700;

        p {
            @apply mt-2 mb-0;
        }
    }

    svg {
        @apply mx-auto block;
        width: 7rem;
    }

    a:hover i {
        @apply text-link no-underline !important;
    }
    a:hover {
        @apply underline;

    }
}
