@import "./theme-light.css";
@import "./theme-dark.css";

/* Components */
@import "./card.css";
@import "./footer.css";
@import "./notice.css";
@import "./subscription-form.css";
@import "./syntax.css";

/* Reset */
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid var(--gray-300);
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 100%;
    border-collapse: collapse;
    line-height: inherit;
    font-weight: 400;
}

html {
    @apply bg-background text-gray-700;
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Lato, 'Open Sans', sans-serif;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }
}

body {
    @apply text-gray-700;
}

main {
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
}

strong {
    @apply font-bold;
}

.container {
    @apply mx-auto px-4;
    max-width: 40rem;
}

.link {
    -webkit-appearance: initial;
}

a,
.link {
    @apply text-link no-underline;
}

a:hover,
.link:hover {
    @apply underline;
}

.header-link {
    color: inherit;
}

hr {
    @apply border-gray-200 border-0 border-b my-8;
}

small {
    @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold text-gray-700;
}

h1 {
    @apply text-3xl text-gray-900;
}

h2 {
    @apply text-xl text-gray-800;
}

.btn {
    @apply bg-btn text-btn font-semibold py-2 px-4 text-sm rounded w-auto inline-block cursor-pointer;
}

.btn svg {
    @apply h-4 w-auto;
}

.btn path {
    @apply fill-current;
}

.btn:hover:not(:disabled) {
    @apply bg-btn-hover text-btn-hover no-underline;
}

.btn.btn--faint {
    @apply bg-gray-200 text-gray-400 ml-auto py-1 px-3 text-lg;
}

.btn.btn--faint:hover:not(:disabled) {
    @apply bg-gray-300 text-gray-500;
}

.btn.btn--gray {
    @apply bg-gray-200 text-gray-600;
}

.btn.btn--gray:hover:not(:disabled) {
    @apply bg-gray-300 text-gray-800;
}

.btn.btn--twitter,
.btn.btn--hn,
.btn.btn--reddit,
.btn.btn--email {
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btn.btn--twitter:hover,
.btn.btn--hn:hover,
.btn.btn--reddit:hover,
.btn.btn--email:hover {
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
    color: #fff !important;
}

.btn.btn--twitter {
    background-color: #55acee !important;
}

.btn.btn--hn {
    background-color: #ff6600 !important;
}

.btn.btn--reddit {
    background-color: #ff5700 !important;
}

.btn.btn--email {
    background-color: #555 !important;
}

.btn.btn--sm {
    @apply py-1 px-3 text-xs rounded-sm;
}

.btn.btn--xs {
    @apply px-3 text-xs rounded-sm font-normal;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.btn:disabled {
    @apply opacity-50 cursor-default;
}

/*********/
/* FORMS */
/*********/

.form-wrapper {
    @apply mx-auto max-w-sm;
}

.form-wrapper form {
    @apply my-6;
}

.form-row {
    @apply mb-6;
    box-sizing: border-box;
}

.form-actions {
    @apply flex items-center justify-between;
}

.form-actions > *:last-child {
    @apply ml-auto;
}

form label {
    @apply block text-gray-600 text-sm font-bold mb-2;
}

#editor-container .CodeMirror, /* To prevent need for !important */
form input,
form select,
form textarea {
    @apply appearance-none bg-gray-100 border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

#editor-container .CodeMirror-cursor { /* To prevent need for !important */
    @apply border-gray-700;
}

.CodeMirror-placeholder,
textarea::placeholder,
input::placeholder {
    @apply text-gray-400;
}

.CodeMirror-focused,
form select:focus,
form input:focus {
    @apply bg-background outline-none border border-primary-400;
}

form textarea:invalid,
form select:invalid,
form input:invalid {
    @apply border-danger-500;
}

form select {
    background: url('../images/icons/select.svg') no-repeat 99% 50%;
}

details summary {
    @apply cursor-pointer;
}

details summary:focus {
    @apply outline-none;
}

/*****************/
/* MARKDOWN POST */
/*****************/

.blog-post {
    @apply mb-10;
}

.blog-post > header {
    @apply pb-4;
}

.blog-post-preview {
    @apply mt-12 pb-6 border-b border-gray-200;
}

.blog-post-continue {
    @apply flex flex-wrap;
}

.blog-post-continue > a:last-child {
    @apply ml-auto text-sm;
}

.blog-post-preview img {
    display: none;
}

.meta {
    @apply block text-sm text-gray-600 font-normal;
}

.blog-post-preview h2 {
    @apply mb-4 text-2xl;
}

.blog-post-preview h2 a:not(:hover) {
    color: inherit;
}

.content h1 {
    @apply text-3xl;
}

.content h2 {
    @apply text-2xl pt-2;
}

.content h3 {
    @apply text-xl;
}

.content ul li {
    @apply list-disc ml-6;
}

.content ol li {
    @apply list-decimal ml-6;
}

.content dl {
}

.content dl dt {
    @apply font-bold;
}

.content dl dt::after {
    content: ':';
}

.content dl dd {
}

.content blockquote,
.content canvas,
.content details,
.content form,
.content table,
.content summary,
.content > div,
.content > header,
.content > dl,
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
.content > hr,
.content > img,
.content > ol,
.content > p,
.content > pre,
.content > ul {
    @apply my-6;
}

.content canvas {
    @apply block w-full rounded-sm my-8;
}

.content > p {
    @apply leading-relaxed;
}

.content p > img {
    @apply block mx-auto rounded-sm my-8;
    max-height: 50vh;
    max-width: 100%;
}

.content .footnotes {
    @apply text-sm opacity-80 my-10 italic;
}

.content .footnotes li {
    @apply ml-5;
}

.content .footnotes hr {
    @apply hidden;
}

.content :not(pre) code {
    @apply bg-gray-200 rounded px-1 border-2 border-gray-200 font-mono;

    /* Relative size so it works in headings and stuff */
    font-size: 0.8em;
}

.content table {
    @apply w-full;
}

.content table th {
    @apply text-left;
}

.content table th,
.content table td {
    @apply border border-gray-300 px-2 py-1;
}

.content table thead tr {
    @apply bg-gray-200;
}

.content blockquote {
    @apply border-l-4 border-gray-300 p-3 bg-gray-100 italic text-gray-700 rounded-sm;
}

.blog-post hr {
    @apply border-gray-300 border-0 border-double border-b-4 my-8 mx-auto;
    width: 5em;
}

/**************/
/* PAGINATION */
/**************/

.pagination {
    @apply mt-10 flex justify-between;
}

.pagination-center {
    @apply text-center w-full;
}

.pagination-left {
    @apply w-24 text-left whitespace-no-wrap;
}

.pagination-right {
    @apply w-24 text-center;
}

/******************/
/* TOP NAVIGATION */
/******************/

.top-nav {
    @apply mb-10 text-sm border-b border-gray-200;
}

.top-nav .container {
    @apply flex flex-row items-center;
    max-width: 70rem;
}

.top-nav ul {
    @apply flex flex-row items-center list-none;
}

.top-nav ul:first-child {
    @apply mr-auto;
}

.top-nav a {
    @apply text-gray-600 h-full block;
}

.top-nav a:hover {
    @apply text-gray-800 no-underline;
}

.top-nav a.logo svg {
    @apply h-8 w-8 overflow-visible my-3;
}

.top-nav a svg {
    @apply h-4 w-4 fill-current float-left;
}

.top-nav li {
    @apply ml-6;
}

.top-nav li:first-child {
    @apply ml-0 mr-auto;
}

/****************/
/* BUTTON INPUT */
/****************/

.button-input {
    @apply flex;
}

.button-input label {
    @apply hidden;
}

.button-input input {
    @apply rounded-r-none border-r-0;
}

.button-input input:focus {
    @apply border-r-0;
}

.button-input .btn {
    @apply w-auto text-center text-xs rounded-l-none;
}

/********/
/* TAGS */
/********/

.all-tags {
    @apply flex flex-wrap justify-between;
}

.all-tags .tag {
    @apply mt-2;
}

.tag {
    @apply mr-2 rounded-full border-primary-400 border uppercase inline-block;
    font-size: 0.7em;
    padding: 0 0.6em;
}

/***********/
/* PROJECT */
/***********/

.project {
    @apply mt-10;
}

.project img {
    @apply h-6 rounded-sm mr-2;
}

.project h3 {
    @apply text-xl;
}

.project p {
    @apply my-1;
}

.project h3 > span,
.project h3 > a {
    @apply flex;
}

.project small {
    @apply text-sm text-gray-600 italic;
}

/*************/
/* HOME HERO */
/*************/

.home-hero {
    @apply flex items-center justify-between mt-6;
}

.home-hero__avatar {
    @apply pr-8 mt-6;
}

.home-hero__avatar img {
    @apply rounded-full block mx-auto;
    max-width: 100%;
    width: 18rem;
}

@media only screen and (max-width: 600px) {
    .home-hero {
        @apply flex-wrap;
    }

    .home-hero__avatar {
        @apply mx-auto w-auto;
        max-width: 12rem;
    }
}

/***************/
/* CLAP BUTTON */
/***************/

.clap-button {
    @apply flex items-center text-sm text-gray-600 mr-4;
}

.clap-button button {
    @apply rounded-full border border-gray-600 mr-3;
    @apply outline-none !important;
    width: 3rem;
    height: 3rem;
    transition: transform 100ms;
}

.clap-button button:disabled {
    @apply opacity-50 cursor-default;
}

.clap-button button:not(:disabled):hover {
    @apply border-gray-800;
}

.clap-button button:not(:disabled):active {
    transform: scale(1.1);
}

.clap-button button:not(:disabled):hover svg path {
    @apply fill-current text-gray-900;
}

.clap-button button svg {
    padding: 17%;
}

.clap-button button svg path {
    @apply fill-current text-gray-700;
}

.vote-messages > * {
    @apply text-sm mt-6;
}

/*********/
/* ICONS */
/*********/

.blog-post__btns {
    @apply my-2 flex flex-row mx-auto justify-center;
}

.blog-post__btns .btn {
    @apply mx-1;
}

.svg-icon {
    @apply flex items-center opacity-100;
}

.svg-icon:hover {
    @apply opacity-90;
}

.svg-icon svg {
    @apply h-3 mr-1 inline-block;
}

/***********/
/* HELPERS */
/***********/

.row-spaced {
    @apply flex justify-between items-center;
}

.hr--spaced {
    @apply my-12;
}

.inline-form {
    @apply inline;
}

@media only screen and (max-width: 600px) {
    .hidden-mobile {
        @apply hidden;
    }
}

/**************/
/* ANIMATIONS */
/**************/

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(2px, 3px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
    60% {
        transform: translate(-2px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-0.5deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -3px) rotate(-0.5deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
