@import "./theme-light.css";
@import "./theme-dark.css";

/* Components */
@import "./card.css";
@import "./content.css";
@import "./footer.css";
@import "./notice.css";
@import "./subscription-form.css";
@import "./syntax.css";
@import "./button.css";
@import "./nav.css";

/* Reset */
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid var(--gray-300);
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 100%;
    border-collapse: collapse;
    line-height: inherit;
    font-weight: 400;
}

::selection {
    @apply bg-selection;
}

html {
    @apply bg-background text-gray-800;
    font-size: 18px;
    line-height: 1.5;
    font-family: Helvetica, Lato, 'Open Sans', sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    min-height: 30vh;
}

strong, strong * {
    @apply font-bold;
}

.container {
    @apply mx-auto px-8;
    max-width: 40rem;
}

.link {
    -webkit-appearance: initial;
}

a {
    @apply text-link no-underline;
}

h1, h2, h3, h4, h5, h6 {
    a:not(:hover) {
        @apply border-transparent !important;
    }
}

hr {
    @apply border-gray-200 border-0 border-b my-8;
}

small {
    @apply text-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold text-gray-800 relative;
}

h1 {
    @apply text-3xl text-gray-900;
}

h2 {
    @apply text-xl text-gray-800;
}

/*********/
/* FORMS */
/*********/

.form-wrapper {
    @apply mx-auto max-w-sm;
}

.form-wrapper form {
    @apply my-6;
}

.form-row {
    @apply mb-6;
    box-sizing: border-box;
}

.form-actions {
    @apply flex items-center justify-between;
}

.form-actions > *:last-child {
    @apply ml-auto;
}

form label {
    @apply block text-gray-700 text-sm font-bold mb-2;
}

form .checkbox-buttons {
    @apply flex select-none w-full flex-wrap;

    .checkbox-buttons__button {
        @apply flex inline-block mr-2 mb-1;

        label {
            @apply m-0 px-3 py-1 rounded bg-gray-200 text-xs cursor-pointer text-gray-700 whitespace-no-wrap;

            &:hover {
                @apply bg-gray-200 text-gray-700;
            }
        }

        input:checked + label {
            @apply bg-btn text-btn;

            &:hover {
                @apply bg-btn-hover text-btn-hover;
            }
        }

        input {
            @apply hidden;
        }
    }
}

#editor-container .CodeMirror, /* To prevent need for !important */
form input,
form select,
form textarea {
    @apply appearance-none bg-gray-100 border border-gray-400 rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

#editor-container .CodeMirror-cursor { /* To prevent need for !important */
    @apply border-gray-700;
}

.CodeMirror-placeholder,
textarea::placeholder,
input::placeholder {
    @apply text-gray-400;
}

.CodeMirror-focused,
form select:focus,
form input:focus {
    @apply bg-background outline-none border border-primary-400;
}

form textarea:invalid,
form select:invalid,
form input:invalid {
    @apply border-danger-500;
}

details summary {
    @apply cursor-pointer;
}

details summary:focus {
    @apply outline-none;
}

/*****************/
/* MARKDOWN POST */
/*****************/

.blog-post {
    @apply mb-10;
}

.blog-post > header {
    @apply pb-4;
}

.blog-post-preview {
    @apply mt-12 pb-6 border-b border-gray-200;
}

.blog-post-continue {
    @apply flex flex-wrap;
}

.blog-post-continue > a:last-child {
    @apply ml-auto text-sm;
}

.blog-post-preview img {
    display: none;
}

.meta {
    @apply block text-sm text-gray-700 font-normal;
}

.blog-post-preview h2 {
    @apply mb-4 text-2xl;
}

.blog-post-preview h2 a:not(:hover) {
    color: inherit;
}

.blog-post hr {
    @apply border-gray-300 border-0 border-double border-b-4 my-8 mx-auto;
    width: 5em;
}

/**************/
/* PAGINATION */
/**************/

.pagination {
    @apply mt-10 flex justify-between;
}

.pagination-center {
    @apply text-center w-full;
}

.pagination-left {
    @apply w-24 text-left whitespace-no-wrap;
}

.pagination-right {
    @apply w-24 text-center;
}

/****************/
/* BUTTON INPUT */
/****************/

.button-input {
    @apply flex;

    label {
        @apply invisible absolute;
    }

    input {
        @apply rounded-r-none border-r-0;
    }

    input:focus {
        @apply border-r-0;
    }

    .btn {
        @apply w-auto text-center text-xs rounded-l-none;
    }
}

/********/
/* TAGS */
/********/

.all-tags {
    @apply flex flex-wrap justify-between;
}

.all-tags .tag {
    @apply mt-2;
}

.tag {
    @apply mr-2 rounded-full border-primary-400 border uppercase inline-block;
    font-size: 0.7em;
    padding: 0 0.6em;
}

/***********/
/* PROJECT */
/***********/

.project {
    @apply mt-10;

    img {
        @apply h-6 rounded-sm mr-2;
    }

    h3 {
        @apply text-xl;
    }

    p {
        @apply my-1;
    }

    h3 > span,
    h3 > a {
        @apply inline-flex;
    }

    small {
        @apply text-sm text-gray-700 italic;
    }
}

/*************/
/* HOME HERO */
/*************/

.home-hero {
    @apply flex items-center justify-between mt-6;
}

.home-hero__avatar {
    @apply pr-8 mt-6;
}

.home-hero__avatar img {
    @apply rounded-full block mx-auto;
    max-width: 100%;
    width: 18rem;
}

/***************/
/* CLAP BUTTON */
/***************/

.clap-button {
    @apply flex items-center text-sm text-gray-600 mr-4;
}

.clap-button button {
    @apply rounded-full border border-gray-600 mr-3;
    @apply outline-none !important;
    width: 3rem;
    height: 3rem;
    transition: transform 100ms;
}

.clap-button button:disabled {
    @apply opacity-50 cursor-default;
}

.clap-button button:not(:disabled):hover {
    @apply border-gray-800;
}

.clap-button button:not(:disabled):active {
    transform: scale(1.1);
}

.clap-button button:not(:disabled):hover svg path {
    @apply fill-current text-gray-900;
}

.clap-button button svg {
    padding: 17%;
}

.clap-button button svg path {
    @apply fill-current text-gray-700;
}

.vote-messages > * {
    @apply text-sm mt-6;
}

/*********/
/* ICONS */
/*********/

.blog-post__btns {
    @apply my-2 flex flex-row mx-auto justify-center;
}

.blog-post__btns .btn {
    @apply mx-1;
}

.svg-icon {
    @apply flex items-center opacity-100;
}

.svg-icon:hover {
    @apply opacity-90;
}

.svg-icon svg {
    @apply h-3 mr-1 inline-block;
}

/***********/
/* HELPERS */
/***********/

.row-spaced {
    @apply flex justify-between items-center;
}

.hr--spaced {
    @apply my-12;
}

.inline-form {
    @apply inline;
}

/**************/
/* ANIMATIONS */
/**************/

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -1px) rotate(-0.5deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(0.5deg);
    }
    30% {
        transform: translate(2px, 3px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0.5deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-0.5deg);
    }
    60% {
        transform: translate(-2px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-0.5deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0.5deg);
    }
    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -3px) rotate(-0.5deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }

    .container {
        @apply px-4;
    }

    .hidden-mobile {
        @apply hidden;
    }

    .h-link {
        @apply hidden;
    }

    .home-hero {
        @apply flex-wrap;
    }

    .home-hero__avatar {
        @apply mx-auto w-auto;
        max-width: 12rem;
    }
}
