:root, [theme="light"], [theme="light-auto"] {
    /* Background */
    --bg: #fff;

    /* Button */
    --bg-btn: var(--color-primary-400);
    --bg-btn-hover: var(--color-primary-500);
    --text-btn: var(--color-gray-100);
    --text-btn-hover: var(--color-gray-200);

    /* Text */
    --text-link: #3182ce;
    --text-syntax-1: #805AD5;
    --text-syntax-2: #3182CE;
    --text-syntax-3: #5A67D8;
    --text-syntax-4: #8e9dad;
    --text-notice: var(--color-notice-400);
    --text-info: var(--color-info-400);
    --text-warning: var(--color-warning-400);
    --text-danger: var(--color-danger-400);

    /* Generic Colors */
    --color-gray-100: #F7FAFC;
    --color-gray-200: #EDF2F7;
    --color-gray-300: #E2E8F0;
    --color-gray-400: #CBD5E0;
    --color-gray-500: #A0AEC0;
    --color-gray-600: #718096;
    --color-gray-700: #4A5568;
    --color-gray-800: #2D3748;
    --color-gray-900: #1A202C;

    --color-danger-100: #fff5f5;
    --color-danger-400: #FC8181;
    --color-danger-500: #F56565;

    --color-warning-100: #FFFAF0;
    --color-warning-400: #F6AD55;
    --color-warning-500: #ED8936;

    --color-notice-100: #FFFFF0;
    --color-notice-400: #ECC94B;
    --color-notice-500: #D69E2E;

    --color-info-100: #EBF8FF;
    --color-info-400: #63B3ED;
    --color-info-500: #4299E1;

    --color-primary-050: #3082cf11;
    --color-primary-100: #3082cf55;
    --color-primary-200: #3082cf88;
    --color-primary-300: #3082cfAA;
    --color-primary-400: #3082cfDD;
    --color-primary-500: #3082cfFF;
}
