:root, [theme="light"], [theme="light-auto"] {
    --hue: 212;

    /* Background */
    --bg: hsl(var(--hue), 10%, 100%);

    /* Button */
    --bg-btn: var(--primary-500);
    --bg-btn-hover: var(--primary-500);
    --txt-btn: var(--gray-100);
    --txt-btn-hover: var(--gray-100);

    /* Text */
    --txt-link: hsl(var(--hue), 97%, 43%);
    --txt-syntax-1: hsl(258, 100%, 70%);
    --txt-syntax-2: hsl(203, 100%, 57%);
    --txt-syntax-3: hsl(296, 100%, 69%);
    --txt-syntax-4: #8e9dad;
    --txt-notice: var(--notice-500);
    --txt-info: var(--info-500);
    --txt-warning: var(--warning-500);
    --txt-danger: var(--danger-500);
    --txt-selection: hsla(211, 100%, 89%, 0.99);

    /* Generic Colors */
    --gray-100: hsl(var(--hue), 80%, 98%);
    --gray-200: hsl(var(--hue), 62%, 93%);
    --gray-300: hsl(var(--hue), 52%, 91%);
    --gray-400: hsl(var(--hue), 42%, 84%);
    --gray-500: hsl(var(--hue), 32%, 69%);
    --gray-600: hsl(var(--hue), 25%, 52%);
    --gray-700: hsl(var(--hue), 20%, 42%);
    --gray-800: hsl(var(--hue), 18%, 23%);
    --gray-900: hsl(var(--hue), 12%, 14%);

    --danger-100: #F5656511;
    --danger-200: #F5656533;
    --danger-400: #F56565CC;
    --danger-500: #F56565FF;

    --warning-100: #ED893611;
    --warning-200: #ED893622;
    --warning-400: #ED8936CC;
    --warning-500: #ED8936FF;

    --notice-100: #D69E2E11;
    --notice-200: #D69E2E22;
    --notice-400: #D69E2ECC;
    --notice-500: #D69E2EFF;

    --info-100: #4299E111;
    --info-200: #4299E122;
    --info-400: #4299E1CC;
    --info-500: #4299E1FF;

    --primary-050: hsla(var(--hue), 62%, 50%, 0.07);
    --primary-100: hsla(var(--hue), 62%, 50%, 0.33);
    --primary-200: hsla(var(--hue), 62%, 50%, 0.53);
    --primary-300: hsla(var(--hue), 62%, 50%, 0.67);
    --primary-400: hsla(var(--hue), 62%, 50%, 0.87);
    --primary-500: hsla(var(--hue), 62%, 50%, 1);
}
